.capacityContainer .capacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.capacityContainer .capacity .items {
  min-width: 24px;
  height: 24px;
  margin-right: 4px;
  padding: 3px;
  border: 1px solid #1D1F22;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
}

.colorContainer .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.colorContainer .colors > span {
  width: 16px;
  height: 16px;
}
