.imageContainer {
    display: grid;
    grid-auto-rows: auto;
    width: 176px;
    height: 87px;

    .sideImages {
        width: 79px;
        height: 80px;
        background-size: cover;
    }
}