.capacityContainer {
  margin-bottom: 2rem;
}

.capacityContainer .title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1D1F22;
}

.capacityContainer .capacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.capacityContainer .capacity .items {
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.capacityContainer .capacity .active {
  background: #1D1F22;
  color: #fff;
}

.colorContainer .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.colorContainer .colors .color {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.colorContainer .colors .active {
  border: 1px solid #5ECE7B;
}
